/* Your Website Styles */

body{
	/*transparent background*/
	background: rgba(255, 0, 61, 0.41);
}

img{
	width: 320px;
}

/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}